body{
    font-family: Arial, sans-serif;
}

header{
    color: white;
    padding: 1rem;
}

.LOGO{

}

nav{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

.page{
    gap: 50px;
    display: flex;

}

.page li{

}

