body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    line-height: 1.6;
}

/* Bandeau principal */
.banner {
    background: #dcefff;
    padding: 20px 40px;
    border-left: 5px solid #00a0c6;
    margin-top: 20px;
}
.banner h2 {
    color: #00a0c6;
    font-weight: 600;
    font-size: 24px;
}

.bannerT {
    background: #dcefff;
    padding: 20px 40px;
    border-left: 5px solid #00a0c6;
    margin: 20px 400px 10px 400px;
    text-decoration: none;
    color: #004b8d;
    transition: color 0.2s;
}

.bannerT h2{
    color: #f16529;
}
.bannerT a:hover {
    color: #f16529;
}

.intro {
    padding: 30px;
    text-align: left;
    margin: 30px auto;
    width: 90%;
    border-radius: 4px;
}
.intro p {
    color: #004b8d;
    font-size: 15px;
    line-height: 1.8;
}
.accent-bold {
    color: #f16529;
    font-weight: bold;
}

/* Conteneur principal */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 60px;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-right: 30px;
    flex-wrap: wrap;
}


.mission-block {
    display: flex;
    justify-content: center;
    align-items: center;
}



.image-side img {
    width: 180px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

.image-side img:hover {
    transform: scale(1.05);
}


/* Bloc Lire aussi */
.lire-aussi {
    width: 250px;
    background: #dcefff;
    border-left: 4px solid #00a0c6;
    padding: 20px;
    box-shadow: -4px 0 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 40px;
    height: fit-content;
}
.lire-aussi h4 {
    color: #f16529;
    font-size: 18px;
    margin-bottom: 10px;
}
.lire-aussi ul {
    list-style: none;
}
.lire-aussi ul li {
    margin-bottom: 8px;
}
.lire-aussi ul li a {
    text-decoration: none;
    color: #004b8d;
    transition: color 0.2s;
}
.lire-aussi ul li a:hover {
    color: #f16529;
}

/* Effet d’opacité sur le bloc Lire aussi */
.lire-aussi {
    opacity: 0.4;
    transition: opacity 0.3s ease, box-shadow 0.3s ease;
}

.lire-aussi:hover {
    opacity: 1;
    box-shadow: -4px 0 15px rgba(0,0,0,0.15);
}

footer {
    background: #fff;
}

/* Responsive */
@media (max-width: 1000px) {
    .main-container {
        flex-direction: column;
        padding: 20px;
    }
    .lire-aussi {
        width: 100%;
        border-left: none;
        border-top: 4px solid #00a0c6;
        box-shadow: none;
        margin-top: 40px;
    }
    .content {
        margin-right: 0;
    }
    .mission-block, .mission-block.reverse {
        flex-direction: column;
    }
    .image-side img {
        width: 50%;
        max-width: 100px;
    }
}
